body {
  background-color: #e6e7ee !important;
}

#myName {
  color: rgb(0, 0, 0);
  font-family: "Raleway", sans-serif;
  font-size: 60px;
  margin-top: 100px;
  letter-spacing: 3px;
}

#linksContainer {
  margin-top: 100px;
  font-family: "Raleway", sans-serif;
}

.neumorphic {
  align-items: center;
  background-color: #e6e7ee;
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  border-radius: 50px;
  display: flex;
  height: 150px;
  justify-content: center;
  width: 150px;
  margin: auto;
}

#blurbRow {
  margin-top: 75px;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

#blurbText {
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

#linkedinIcon {
  color: #4f9bff;
}

#projectsIcon {
  color: #ff443b;
}

#codeIcon {
  color: #ffcc40;
}
