body {
  background-color: #fffcf2;
}

#myNeu {
  border-radius: 50px;
  background: #fffcf2;
  box-shadow: 36px 36px 71px #cfccc4, -36px -36px 71px #ffffff;
}

#myName {
  color: rgb(0, 0, 0);
  font-family: "Raleway", sans-serif;
  font-size: 60px;
  margin-top: 200px;
  letter-spacing: 4px;
}
