body {
  background-color: #e6e7ee !important;
}

#myName {
  color: rgb(0, 0, 0);
  font-family: "Raleway", sans-serif;
  font-size: 60px;
  margin-top: 100px;
  letter-spacing: 3px;
}

#linksContainer {
  margin-top: 100px;
  font-family: "Raleway", sans-serif;
}

.neumorphic {
  align-items: center;
  background-color: #e6e7ee;
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  border-radius: 50px;
  display: flex;
  height: 150px;
  justify-content: center;
  width: 150px;
  margin: auto;
}

#blurbRow {
  margin-top: 75px;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

#blurbText {
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

#linkedinIcon {
  color: #4f9bff;
}

#projectsIcon {
  color: #ff443b;
}

#codeIcon {
  color: #ffcc40;
}

#contactIcon {
  color: #98f78b;
}

#downloadCVIcon {
  color: #ea8cff;
}

.btn {
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;

  @media (min-width: 600px) {
    margin: 0 1em 2em;
  }
}

.btn-1 {
  background: darken(red, 1.5%);
  font-weight: 100;

  svg {
    height: 45px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  rect {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
    transition: all 0.35s linear;
  }
}

.btn-1:hover {
  background: rgba($red, 0);
  font-weight: 900;
  letter-spacing: 1px;

  rect {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  }
}
